#home-title-name,
#home-title-job {
    font-family: Azonix;
}

#home-title-name {
    font-family: Azonix;
    animation: pop-in 0.5s ease-in-out forwards;
    animation-delay: 2s;
    transform: scale(0);
}

#home-title-job {
    font-family: Azonix;
    animation: pop-in 0.5s ease-in-out forwards;
    animation-delay: 2.25s;
    transform: scale(0);
}

#home-title-hr {
    animation: slide-in 0.5s ease-in-out forwards;
    animation-delay: 2.5s;
    width: 0%;
}

@keyframes slide-in {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@keyframes pop-in {
    0% {
        transform: scale(0);
    }
    75% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
