@import '../variables';

// Hud
#top-left-hud {
    top: 0;
    left: 0;
}

#top-right-hud {
    top: 0;
    right: 0;
}

#bottom-left-hud {
    bottom: 0;
    left: 0;
}

#bottom-right-hud {
    bottom: 0;
    right: 0;
}

.hud-container {
    fill: rgba($color: $primary-1, $alpha: 0.2);
}

.line-animation-container {
    stroke: $primary-1;
}

.line-animation {
    stroke: $primary-8;
    stroke-dasharray: 10;
    stroke-dashoffset: 20;
    animation: line-animation 1s linear infinite;
}

@keyframes line-animation {
    to {
        stroke-dashoffset: 0;
    }
}

// Mini Map
#mini-map-hud {
    bottom: 0;
    right: 0;
}

.mini-map-border {
    stroke: $primary-1;
    fill: transparent;
}

.mini-map-view {
    fill: black;
}

.mini-map-bar {
    stroke: $primary-8;
}

.mini-map-pulse {
    stroke: $primary-6;
    fill: $primary-9;
    fill-opacity: 0.2;
    animation: minimap-pulse-ring 3s ease-in infinite;
}

@keyframes minimap-pulse-ring {
    30%,
    100% {
        opacity: 0;
        r: 49;
    }
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
}
