$liberty-yellow-100: #ffd000;
$liberty-yellow-80: #ffdb50;
$liberty-yellow-60: #ffe280;
$liberty-yellow-40: #ffeaa9;

$liberty-blue-100: #1a1446;
$liberty-blue-90: #29254f;

$liberty-teal-100: #78e1e1;
$liberty-teal-80: #99e5ea;
$liberty-teal-60: #aaeded;
$liberty-teal-40: #c9f3f4;
$liberty-teal-10: #f2fcfc;

$liberty-medium-teal: #28a3af;
$liberty-dark-teal: #06748c;

$liberty-gray-100: #343741;
$liberty-gray-90: #404040;
$liberty-gray-81: #565656;
$liberty-gray-69: #707070;
$liberty-gray-29: #c0bfc0;
$liberty-gray-10: #e6e6e6;
$liberty-gray-4: #f5f5f5;
