$unh-blue-1: #001d52;
$unh-blue-2: #003591;
$unh-blue-3: #0044bb;

$unh-orange-1: #cb4d0b;
$unh-orange-2: #f77a05;

$unh-gray-1: #263645;
$unh-gray-2: #5c6874;
$unh-gray-3: #a3a9ac;
$unh-gray-4: #dcdedf;
