@import 'variables';
@import 'mixins';

.home-menu-container {
    @include circle-placement($item-count: 8, $circle-size: 50em, $item-size: 6em);
    border: solid 0.5rem $primary-1;
}

.home-menu-item {
    display: block;
    max-width: 100%;
    border-radius: 50%;
    filter: grayscale(100%);
    border: solid 0.4rem $tertiary-3;
    transition: 0.15s;

    &:hover,
    &:active {
        filter: grayscale(0);
    }
}

@keyframes spin-container {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin-container {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin-container {
    100% {
        -moz-transform: rotate(360deg);
    }
}
