@import 'variables';
@import 'mixins';

#home-menu-container {
    @include circle-placement(8, 50rem, 5em);
    box-shadow: 0 0 2rem 0.5rem $primary-1, inset 0 0 2rem 0.5rem black;
    background-color: rgba($color: $primary-1, $alpha: 0.3);
}

@for $i from 0 through 7 {
    #home-menu-container li:nth-child(#{$i}) .home-menu-item {
        animation-delay: $i * 0.25s;
    }
}

.home-menu-item {
    border-radius: 20%;
    filter: grayscale(100%);
    border: solid 0.1rem transparent;
    transition: 0.2s;
    width: 100%;
    color: $primary-4;
    opacity: 0.6;
    animation: pop-in 1s ease-in-out forwards;
    transform: scale(0);

    &:hover,
    &:active {
        filter: grayscale(0);
        border-radius: 50%;
        border: solid 0.1rem $primary-4;
        opacity: 1;
    }
}
@keyframes pop-in {
    0% {
        transform: scale(0);
    }
    75% {
        transform: scale(1.2);
        filter: grayscale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}
