@function generate-stars($amount) {
    $result: #{random(2000)}px #{random(2000)}px #fff;
    @for $i from 1 through $amount {
        $result: #{$result}, #{random(2000)}px #{random(2000)}px #fff;
    }
    @return $result;
}

$stars-1: generate-stars(1000);
$stars-2: generate-stars(750);
$stars-3: generate-stars(500);

#stars-1 {
    width: 1px;
    height: 1px;
    top: 0px;
    background: transparent;
    box-shadow: $stars-1;
    animation: move-stars-1 100s linear infinite;

    &::after {
        position: absolute;
        width: 1px;
        height: 1px;
        background: transparent;
        box-shadow: $stars-1;
    }
}

#stars-2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $stars-2;
    top: 2000px;
    animation: move-stars-2 100s linear infinite;

    &::after {
        position: absolute;
        width: 1px;
        height: 1px;
        background: transparent;
        box-shadow: $stars-2;
    }
}

#stars-3 {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $stars-3;
    top: 0px;
    animation: move-stars-1 50s linear infinite;

    &::after {
        position: absolute;
        width: 2px;
        height: 2px;
        background: transparent;
        box-shadow: $stars-3;
    }
}

#stars-4 {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $stars-3;
    top: 2000px;
    animation: move-stars-2 50s linear infinite;

    &::after {
        position: absolute;
        width: 2px;
        height: 2px;
        background: transparent;
        box-shadow: $stars-3;
    }
}

@keyframes move-stars-1 {
    from {
        transform: translateY(1000px);
    }
    to {
        transform: translateY(-1000px);
    }
}

@keyframes move-stars-2 {
    from {
        transform: translateY(-1000px);
    }
    to {
        transform: translateY(-3000px);
    }
}
